html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}

.cover-container {
    /*height: 80vh;*/
    width:100vw ;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(DigitalInspectionServices/CoverPhoto.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.cover-title {
    text-shadow: 0px 3px 6px #000000a8;
    text-transform: capitalize;
    font-weight: bold;
}
.button-primary {
    width: max-content;
    color: black;
    padding: 0.5rem 4rem;
    background: #f69322 0% 0% no-repeat padding-box;
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: 3px 3px 6px #000000a8;
    display: flex;
    align-items: center;
    -ms-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    position: relative;
    border: 4px solid #f69322;
}
.button-slope-2 {
    width: max-content;
    color: black;
    padding: 0.5rem 4rem;
    background: #f69322 0% 0% no-repeat padding-box;
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: 3px 3px 6px #000000a8;
    display: flex;
    align-items: center;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
.p-absolute {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translate(-50%, 0);
}
.button-slope-2-content {
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
}
.button-secondary {
    width: max-content;
    color: black;
    padding: 0.5rem 4rem;
    display: flex;
    align-items: center;
    border: 4px solid #f69322;
    font-weight: bold;
    font-size: 1.5em;
    background: #ffffff00 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 6px #000000a8;
    -ms-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    position: relative;
}

.button-content {
    -ms-transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
    transform: skewX(10deg);
}
.cover-dash-para {
    font-weight: bold;
}
.cover-departments {
    background-image: url(printimages/BgImageServicePortfolio.jpg);
    /*height: 50vh;*/
    width: 100vw;
    background-position: center;
    background-size: cover;
    padding: 3rem 1rem 1rem 1rem;
}
.cover-feature {
    background: #212020 0% 0% no-repeat padding-box;
    /*padding: 3rem 3rem 1rem 1rem;*/
    
}
.vertical-navigator {
    background-color: #010101;
    border-radius: 46px;
    padding: 30px 0 15px 30px;
    margin-top: 50px;
}
.sticky {
    position: sticky;
    top: 2rem;
    left: 2rem;
    top: 96px;
}
.pt-100px {
    padding-top:100px;
}
.pt-135px {
    padding-top:134px;
}
.justify-para {
    text-align: justify;
}
.n-items {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    border-left: 1px solid #f69322;
    list-style-type: none;
    padding-left: 1rem;
    padding-bottom: 2rem;
}
.n-items:active,
.n-items:focus {
    border-left: 4px solid #f69322;
}
.n-items > a {
    text-decoration: none;
    color: inherit;
}
.n-items > a :visited,
.n-items > a:focus,
.n-items > a:active {
    color: inherit;
}
.n-items > a > span {
    border-bottom: 1px solid #f69322;
    padding-bottom: 0.55rem;
}
.content-heading {
    color: #fe8700;
    font-weight: bold;
}
.keyfeature-img {
    height: 100%;
    width: 100%;
}
.mg-KeyFeature-gallery {
    border-radius: 12px;
    height: 30vh;
    width: 30vh;
}
.service-gallery {
    position: relative;
    height: 30vh;
    width: 35vh;
    border-radius: 36px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.d-scanning-img {
    background-image: url(DigitalInspectionServices/3DInspectionWorkflow/import2D3DCAD.png);
}
.d-reverse-eng-img {
    background-image: url(DigitalInspectionServices/3DInspectionWorkflow/align.png);
}
.d-inspection-img {
    background-image: url(DigitalInspectionServices/3DInspectionWorkflow/report.png);
}
.low-volume-prod-img {
    background-image: url(DigitalInspectionServices/3DInspectionWorkflow/analysis.png);
}
.uv-stand-img {
    background-image: url(printimages/materialkeyfeature/UVSTAND.jpg);
}
.high-temp-c {
    background-image: url(printimages/materialkeyfeature/2hightemp150c.png);
}
.biocom-img {
    background-image: url(printimages/materialkeyfeature/BiocompatibilityMEDAMB10.jpg);
}
.eight-yearrs-img {
    background-image: url(printimages/materialkeyfeature/Eightyearsindoorone-.jpg);
}
.excellent-flame-img {
    background-image: url(printimages/materialkeyfeature/Excellentflammability.webp);
}
.excellent-print-img {
    background-image: url(printimages/materialkeyfeature/Excellentprintquality.png);
}
.long-term-img {
    background-image: url(printimages/materialkeyfeature/longtermlongtermTOUGH-BLK20.jpg);
}

.rigidstrength {
    background-image: url(printimages/materialkeyfeature/Rigidhighstrength.png);
}
.thermoplastic-img {
    background-image: url(printimages/materialkeyfeature/Thermoplastic.jpg);
}

.rounded-button {
    width: 12vw;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%);
    padding: 0.5rem 0;
    background: #ff8800 0% 0% no-repeat padding-box;
    box-shadow: 4px 3px 6px #000000a8;
    border-radius: 34px;
    position: absolute;
    font-weight: bold;
    font-size: small;
    color: #010101;
    text-align: center;
    cursor:pointer;
}
.round-btn-grad {
    background: transparent linear-gradient(73deg, #fe8700 0%, #fc582e 100%) 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 6px #000000a8;
    border-radius: 45px;
    color: white;
}
.b-right {
    border-right: 3px solid #212020;
}
.b-left {
    border-left: 3px solid #212020;
}
.p-7 {
    padding: 7rem !important;
}
.pt-7 {
    padding-top: 7rem;
}
.mr-7 {
    margin-right: 7rem;
}
.mt-5 {
    margin-top: 7rem;
}
.ml-7 {
    margin-left: 7rem;
}
.mb-7 {
    margin-bottom: 7rem;
}

.faq-link a {
    color: #ff931e;
}
.faq-link a:hover {
    color: #ff931e;
}
.left-border {
    padding-left: 30px;
    border-left: 2px solid #fff;
    margin-left: 5px;
}
.pre-color {
    color: #ff931e;
}

.pre-bg-grey {
    background-color: #1a1a1a;
}
.faq h5.pre-color::before {
    content: "-";
    margin-right: 20px;
    font-size: 28px;
}

.faq h5.pre-color.collapsed::before {
    content: "+";
    margin-right: 20px;
    font-size: 28px;
}
.printing-service-car img{
    width:100%;
    height:175px;
}
.printing-service-car {
    background-color:black;
    padding-bottom: 4px;
}
@media only screen and (max-width:1200px) and (min-width:992px) {
    .cover-container {
    height: 100vh;
    }
}
@media only screen and (max-width:992px) {
    .cover-container {
        /*height: 96vh;*/
    }
}
@media only screen and (max-width:768px) {
    .cover-container {
        /*height: 102vh;*/
    }
    .cover-departments .rounded-button {
        width:auto;
        padding:10px 15px;
    }
    #materials .rounded-button {
        width:auto;
        padding:10px 15px;
    }
    .service-gallery {
        width:auto;
        margin-bottom: 50px;
        white-space: nowrap;
    }
    .button-slope-2-content {
        font-size:15px;
        
    }
    .sticky {
        width:auto;
    }
}
@media only screen and (max-width:576px) {
    .button-slope-2-content {
        font-size:10px;
    }
    .p-absolute {
        left:54%;
    }
    .button-slope-2 {
        padding:10px 15px;
    }
    .button-secondary {
        font-size:15px;
        margin-top:15px;
    }

}
.hero-image {
    background-image: url("assets/images/Reverse_engineering.jpg");
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    position: relative;
    left: 50%;
    top: 500px;
    transform: translate(-50%, -50%);
    color: white;
}

#regForm {
    /*background-color: #ffffff;*/
    background-image: url(printimages/BgImageServicePortfolio.jpg);
    background-position: right bottom;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    /*opacity: 0.9;*/
    /*margin: 100px auto;*/
    /*font-family: Raleway;*/
    padding: 40px;
    /*width: 70%;*/
    max-width: 450px;
    margin-bottom: 100px;
}

/* Hide all steps by default: */
.tab-step-form {
    display: none;
    color: #dbdddf;
}

.tab-step-form .form-control {
    background: transparent;
    border: none;
    padding: 0;
    height: 40px;
    color: #fff;
    border-bottom: 1px solid rgb(68 58 58 / 20%);
    border-radius: 0;
}

button.step-form-btn,
label.custom-file-upload {
    border: none;
    text-transform: uppercase;
    margin: 18px 17px 30px 17px;
    background-color: #ff8d1e;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    padding: 7px 21px;
    width: 54%;
    border-radius: 5px;
    font-size: 14px;
}

input[type="file"] {
    display: none;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    border-bottom: 1px solid #dc0d0d !important;
}

.form-group {
    margin: 35px 0px;
}

#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75) url(load2.gif) no-repeat center center;
    z-index: 10000;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin: 10px 20px 10px 10px;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

textarea.form-control {
    box-shadow: 0 0 8px 2px rgb(0 0 0 / 20%);
    font-size: 12px;
    height: 100px !important;
    resize: none;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}

.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
    padding:15px;
}

span.error {
    color: red;
    display: none;
}

div.status-div {
    height: 100% !important;
    align-content: center;
    text-align: center;
    margin: auto;
}

button.status-btn {
    width: 100% !important;
}
.digital-inspection-car {
    background-color:black;
    padding-bottom: 4px;
}
.digital-inspection-car img{
    width:100%;
    height:175px;
}
.pt-100px {
    padding-top:100px;
}
.owl-carousel .owl-item img {
 -webkit-filter: grayscale(0); 
 filter: grayscale(0); 
}
.leftBg{
    background-image: url("images/cadnew.png");
}
#import {
/*width: 100vw;*/
background-position: center;
background-size: cover;
position: relative;
}


