:root {
  --backgroundcolor: #101010;
  --whitecolor: #fff;
  --maincolor: #ff931e;
  --subbackground: #0a0a0a;
  --subcotent: #bbb;
  --list: #dfeeff;
}

b {
  font-family: "Inter", sans-serif !important;
}

.overview-section img {
  width: 70%;
}
.div {
  display: inline;
  padding: 20px 10px 20px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.overview-section span {
  color: rgba(255, 147, 30, 1);
  font-weight: 600;
}
.overview-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-head span {
  color: rgba(164, 164, 164, 1);
}
.Specifications-section {
  text-align: center;
  padding: 60px 0;
}
.features-section {
  text-align: center;
  padding-bottom: 50px !important;
}
.feature-img {
  background-color: var(--whitecolor);
}
.features-section img {
  width: 70%;
  object-fit: cover;
}

.feature-card {
  padding: 70px 0px;
}
.feature-card h4 {
  color: var(--whitecolor);
  font-weight: 700;
  font-size: 30px;
}
.feature-card p {
  margin-bottom: 0px !important;
  font-size: 15px !important;
}

.feature-card1 {
  padding: 70px 0px 0px 0px;
}
.feature-card1 h4 {
  color: var(--whitecolor);
  font-weight: 700;
  font-size: 30px;
}
.feature-card1 p {
  margin-bottom: 0px !important;
  font-size: 15px !important;
}
.feature-img {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 80px 0px 50px 0px;
  margin-top: -35px;
}
.feature-subcard {
  padding: 3px 10px 3px 10px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.feature-subcard::before {
  width: 10px;
  height: 85px;
  border-top: 5px solid transparent;
  border-right: 10px solid rgba(255, 147, 30, 1) !important;
  border-bottom: 5px solid transparent;
  position: absolute;
  /* left: 0; */
  margin-left: -332px;
  content: "";
  margin-top: 2px;
}

.feature-subcard::after {
  width: 10px;
  height: 85px;
  border-top: 5px solid transparent;
  border-left: 10px solid rgba(255, 147, 30, 1) !important;
  border-bottom: 5px solid transparent;
  position: absolute;
  /* left: 0; */
  margin-left: 324px;
  content: "";
  margin-top: -86px;
}

.feature-subcard1 {
  padding: 3px 15px 3px 15px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  z-index: 99;
  background: var(--whitecolor);
}

.feature-subcard1::before {
  width: 10px;
  height: 63px;
  border-top: 5px solid transparent;
  border-right: 10px solid rgba(255, 147, 30, 1) !important;
  border-bottom: 5px solid transparent;
  position: absolute;
  /* left: 0; */
  margin-left: -216px;
  content: "";
  margin-top: 2px;
}

.feature-subcard1::after {
  width: 10px;
  height: 63px;
  border-top: 5px solid transparent;
  border-left: 10px solid rgba(255, 147, 30, 1) !important;
  border-bottom: 5px solid transparent;
  position: absolute;
  /* left: 0; */
  margin-left: 205px;
  content: "";
  margin-top: -65px;
}

.before {
  padding: 270px 0px;
}

.before h1 {
  color: #fff;
  font-weight: 700;
}

.before p {
  color: #fff;
  font-weight: 700;
}

.test-section a {
  padding: 0px !important;
}

#dynamicSlider2 img {
  width: 90%;
}

.video-card p {
  font-size: 15px !important;
  padding-top: 10px;
}
.video-card {
  text-align: left;
}

.accordion-item {
  border: none;
  background-color: var(--backgroundcolor);
  border-radius: 20px;
  border-left: 5px solid #ff931e;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
}

.accordion-button {
  margin-top: 30px;
  border-radius: 20px;
  background: var(--backgroundcolor);
  color: var(--whitecolor);
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #ff931e !important;
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}

.accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
}

.accordion-button::after {
  content: "+";
  background-image: none !important;
  position: absolute;
  left: 0;
  font-size: 32px;
  margin-left: 5px;
  margin-top: -26px;
  color: #ff931e;
}

.accordion-button:not(.collapsed)::after {
  content: "-";
  background-image: none !important;
  position: absolute;
  left: 0;
  font-size: 32px;
  margin-left: 5px;
  margin-top: 22px;
  color: #ff931e;
}

.fa-phone {
  padding: 20px;
  border-radius: 50%;
  background-color: var(--maincolor);
  font-size: 22px;
  color: var(--whitecolor);
}

.test-section a {
  padding: 14px 23px;
  background-color: transparent !important;
  border-radius: 10px;
  margin: 20px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s all;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #ff931e !important;
}

.sk-arrow-right {
  border: solid rgb(255, 255, 255) !important;
  border-width: 0 3px 3px 0 !important;
  display: inline-block;
  height: 17px;
  width: 17px;
  margin-top: -6px;
  margin-left: -9px;
  padding: 0px !important;
}

.sk-arrow-left {
  border: solid rgb(255, 255, 255) !important;
  border-width: 0 3px 3px 0 !important;
  display: inline-block;
  height: 17px;
  width: 17px;
  margin-top: -6px;
  margin-left: -4px;
  padding: 0px !important;
}

.embedded-computing h2 {
  color: #ff931e;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.v3 {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 249, 242, 1);
  padding: 40px 0;
}

.v3 i {
  color: #fff;
  background-color: #ff931e;
  padding: 5px;
  margin-right: 8px;
  border-radius: 5px;
}

.embedded-computing {
  padding: 60px 0;
}

.embedded-computing p {
  text-align: center;
}

.embedded-computing ul {
  line-height: 40px;
}

.embedded-computing .col-lg-4 p {
  text-align: left !important;
}

.embedded-computing h4 {
  padding-top: 250px;
}

.embedded-computing .col-lg-4 {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin: 15px;
  width: 30%;
  border-radius: 7px;
}

.advance-features {
  padding-top: 80px;
  padding-bottom: 20px;
}

.advance-features h2 {
  color: #ff931e;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.before1 {
  padding: 390px 0px 110px 0px;
}

.before2 {
  padding: 60px 0px 60px 0px;
}

.before2 h1 {
  color: #fff;
  font-weight: 700;
  font-size: 25px;
}

.blur-div {
  width: 50%;
  backdrop-filter: blur(16.200000762939453px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px;
}

.before2 p {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

.advance-features span {
  color: var(--whitecolor);
}

.Specifications-section {
  background-color: rgba(255, 249, 242, 1);
}

.before1 h1 {
  color: #fff;
  font-weight: 700;
}

.before1 p {
  color: #fff;
  font-weight: 600;
}

@media (max-width: 600px) {
  #specification {
    width: 90% !important;
  }

  .embedded-computing {
    padding: 60px 0 !important;
  }

  .advance-features h2 {
    font-size: 26px !important;
  }

  .before2 {
    padding: 30px 15px 30px 15px !important;
    margin: 80px 15px 15px 15px !important;
  }

  .blur-div {
    width: 100% !important;
  }

  .embedded-computing h2 {
    font-size: 28px !important;
  }

  .advance-features {
    padding-top: 40px !important;
  }

  .embedded-computing .col-lg-4 {
    margin: 20px !important;
    width: 90% !important;
  }

  .before1 {
    padding: 170px 20px 10px 20px !important;
    margin: 15px !important;
  }

  .feature-card h4 {
    font-size: 22px !important;
  }
  .feature-card p {
    font-size: 12px !important;
  }
  .feature-subcard::after {
    margin-left: 194px !important;
    margin-top: -86px !important;
  }
  .feature-subcard::before {
    margin-left: -206px !important;
    margin-top: 1px !important;
  }

  .feature-card1 h4 {
    font-size: 22px !important;
  }
  .feature-card1 p {
    font-size: 12px !important;
  }

  .feature-subcard1::after {
    margin-left: 155px !important;
    margin-top: -51px !important;
    height: 50px !important;
  }

  .feature-subcard1::before {
    margin-left: -165px !important;
    margin-top: 2px !important;
    height: 50px !important;
  }

  .features-section img {
    width: 90% !important;
    object-fit: cover;
  }

  .before {
    padding: 70px 0px !important;
  }

  .feature-card {
    padding: 30px 0px !important;
  }

  .about-head {
    font-size: 28px !important;
  }

  .social {
    margin-top: 0px !important;
  }

  .overview-head {
    margin-top: 50px !important;
  }
  .div button {
    margin: 10px !important;
  }
  .tab-section {
    margin-top: 30px !important;
  }
  .center-image {
    text-align: center !important;
  }

  .banner-img {
    text-align: center !important;
  }

  .form-img-img {
    margin-left: 133px !important;
  }
}
