@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.event-banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 120px 90px 90px 100px;
  margin-top: 40px;
}

.event-banner h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
  font-size: 44px;
}

.event-banner span {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
  color: rgba(255, 147, 30, 1);
}

.event-timing span {
  font-family: "Inter", serif !important;
  font-size: 28px;
  color: rgba(80, 80, 80, 1);
}

.event-timing img {
  width: 3%;
}

.event-timing {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 20px;
}

.banner-btns {
  align-items: baseline;
}

.email p {
  color: #ff931e;
}

.event-location p {
  color: rgba(80, 80, 80, 1);
}

.event-location span {
  font-family: "Inter", serif !important;
}

.event-location h4 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
  font-size: 30px;
  color: #ff931e;
}

.event-location-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 45px;
}

.sub-event-location {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.why-wildplant .col-lg-12 {
  padding: 60px 20px 60px 0px;
  border: 1px solid #ffd3a9;
  border-radius: 40px;
  margin: 20px 20px;
  transition: 0.5s all;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

.why-longrange {
  background-position: center;
  background-repeat: no-repeat;
}

.logoss-div {
  display: flex;
  justify-content: space-between;
}

.logoss {
  width: 35%;
  padding-bottom: 30px;
}

.why-wildplant .col-lg-12:hover {
  box-shadow: 0px 14px 40px 20px #ff932a30;
}

.why-wildplant h2 {
  font-size: 34px;
  line-height: 38px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
}

.why-wildplant span {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
  color: #ff931e;
  font-size: 34px;
}

.dx-icon {
  width: 40%;
  padding-top: 10px;
}

.who-should-atten h2 {
  text-align: center;
  display: inline;
}

.who-should-atten .container {
  padding: 40px 60px 40px 60px;
  border: 1px solid #ffd3a9;
  border-radius: 25px;
  transition: 0.5s all;
  justify-content: space-around;
  align-items: center;
}

.who-should-atten .col-lg-7 {
  place-content: center;
}

.who-should-atten .container {
  box-shadow: 0px 14px 40px 20px #ff932a30;
}

.who-should-atten li {
  list-style: none;
  padding: 12px 0;
  color: rgba(80, 80, 80, 1);
  font-size: 20px;
}

.agenda {
  padding: 80px 0;
}

.agenda .container {
  padding: 60px 20px 60px 0px;
  border: 15px solid #ff931e;
  border-radius: 25px;
  transition: 0.5s all;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.agenda .container {
  box-shadow: 0px 14px 40px 20px #ff932a30;
}

.agenda li {
  list-style: none;
  padding: 10px 0;
  color: rgba(80, 80, 80, 1);
  font-size: 22px;
}

.who-should-atten button {
  margin-left: 30px;
}

.agenda h2 {
  color: #ff931e;
}

.agenda p {
  color: rgba(80, 80, 80, 1) !important;
  border-bottom: 3px solid #ff931e;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 6%;
}

.agenda li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  width: 70%;
  margin-bottom: 7px;
}

.venue h2 {
  color: #fff;
  border-bottom: 4px solid #ff931e;
  width: 14%;
}

.venue {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.venue button {
  background-color: #fff !important;
  color: #000 !important;
  margin-top: 15px;
  width: 34%;
  font-size: 16px !important;
}

.event-form {
  padding: 80px 0;
}

.event-form h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold" !important;
  font-size: 40px;
}

.event-form .col-lg-7 {
  place-content: center;
}

.event-form .container {
  background: linear-gradient(137.83deg, #ffb05a 12.15%, #ff931e 79.26%);
  padding: 40px 40px;
  border-radius: 30px;
}

.event-main-form {
  background-color: #fff;
  padding: 40px 0px;
  border-radius: 30px;
}

.event-main-form h2 {
  font-family: "Inter", serif !important;
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 20px;
}

.event-main-form h4 {
  font-family: "Inter", serif !important;
  font-weight: 700;
  font-size: 28px;
  background: rgba(255, 241, 226, 1);
  padding: 15px 40px;
  margin: 30px 0;
}

.form-fields {
  text-align: center;
  padding: 20px 0;
}

.form-fields input {
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 0px 20px;
  width: 29%;
}

.slot-btn {
  background-color: #fff !important;
  color: #ff931e !important;
}

/* general styling */
:root {
  --smaller: 0.75;
}

.timer {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

.timer h1 {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.timer li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.timer li span {
  display: block;
  font-size: 4.5rem;
  color: #ff931e;
  font-weight: 600;
}

.submit-bttn {
  background-color: #ff931e !important;
}

button {
  background-color: var(--maincolor) !important;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}

.timer-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.timer ul {
  border: 1px solid rgba(255, 147, 30, 0.25);
  box-shadow: 0px 6px 13px 0px rgba(255, 178, 95, 0.15);
  border-radius: 25px;
  display: inline-block;
}

#countdown img {
  margin-top: -142px;
}

.footer-social img {
  margin: 0px 10px;
}
.points {
  padding-left: 0px !important;
}

.points li {
  list-style: none;
  padding: 10px 0;
}

.points a {
  text-decoration: none;
  color: rgba(218, 218, 218, 1);
}

footer {
  background: linear-gradient(
    180deg,
    #3b3b3b -14.65%,
    #202020 41.32%,
    #202020 62.03%
  );
  padding: 60px 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.main-event-logo {
  width: 70%;
}

.hidden-img{
  display: none;
}

.points i {
  background: linear-gradient(180deg, #fbbd7b -10%, #ff931e 107.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 21px;
  padding-right: 8px;
  padding: 2px;
}

.left-move-input{
  margin-left: 20px;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

@media (max-width: 600px) {

  .why-wildplant .col-lg-12 {
    display: block !important;
    padding: 60px 20px 60px 20px !important;
  }

  .left-move-input{
    margin-left: 0px !important;
  }

  .dx-icon {
    width: 70% !important;
    padding-bottom: 30px;
  }

  .venue button {
    width: 70% !important;
    font-size: 16px !important;
  }

  .agenda li {
    width: 95% !important;
  }

  .agenda .container {
    padding: 60px 20px 60px 20px !important;
    border: 8px solid #ff931e !important;
  }

  .event-banner h2 {
    font-size: 28px !important;
  }

  .event-form img {
    width: 100% !important;
    padding: 30px 0;
  }

  .who-should-atten .col-lg-5 img {
    width: 100% !important;
  }

  .who-should-atten .container {
    padding: 40px 15px 40px 15px !important;
  }

  .logoss-div {
    display: block !important;
  }

  .logoss {
    padding-bottom: 0px !important;
  }

  .event-banner {
    padding: 60px 20px !important;
    background-position: center !important;
    background-size: cover;
    margin-top: -10px !important;
  }

  .event-timing img {
    width: 6% !important;
  }

  .event-timing {
    padding-bottom: 15px;
  }

  .event-banner p {
    font-size: 20px !important;
  }

  .event-location-main {
    display: block !important;
    padding-top: 20px !important;
    padding-bottom: 20px;
  }

  .event-form .container {
    padding: 40px 25px !important;
  }

  .form-fields input {
    margin: 10px 20px !important;
    width: 85% !important;
  }

  #countdown ul {
    padding-left: 0px !important;
  }

  .dm-none {
    display: none !important;
  }

  .why-wildplant h2 {
    font-size: 26px !important;
  }

  .why-wildplant span {
    font-size: 26px !important;
  }

  .event-timing span {
    font-size: 20px !important;
  }

  footer h2 {
    padding-top: 30px;
  }
  .timer-section {
    margin-top: 80px !important;
  }

  .main-event-logo img {
    width: 75% !important;
  }

  .hidden-img{
    display: block !important;
    text-align: center !important;
    padding: 15px !important;
  }

  .sub-event-logo {
    text-align: center !important;
    padding-bottom: 20px !important;
  }

  .main-event-logo {
    width: 100% !important;
    text-align: center !important;
  }

  .thankyou-logo img {
    width: 50% !important;
  }

  .thankyou-logo {
    text-align: center !important;
    padding: 20px 0px !important;
  }

  .thankyou-banner img {
    width: 25% !important;
  }

  .shinning {
    width: 40% !important;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .thankyou-body h4 {
    padding-top: 10px !important;
  }

  .drag-drop {
    text-align: center !important;
  }

  .drag-drop img {
    width: 80% !important;
    padding: 20px 0;
  }
  .boxes{
    text-align: center !important;
  }

  .venue{
    padding: 60px 15px !important;
  }

  .venue h2 {
    width: 22% !important;
    padding-bottom: 5px !important;
}
}

/* thankyou */

.thankyou-banner {
  background-color: rgba(255, 239, 222, 1);
  text-align: center;
  padding: 30px 0;
}

.thankyou-banner img {
  width: 10%;
}

.thankyou-banner h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold" !important;
  font-size: 40px;
  color: #ff931e;
  padding-top: 10px;
}

.thankyou-body p {
  color: #000 !important;
  text-align: center;
  padding: 30px 0;
}

.thankyou-body span {
  color: #ff931e !important;
}

.thankyou-body h4 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold" !important;
  font-size: 28px;
  color: #ff931e;
  padding-top: 50px;
}

.thankyou-body li {
  padding-bottom: 10px;
}

.thankyou-body ul {
  padding-left: 40px;
  padding-top: 15px;
}

.thankyou-logo {
  padding: 50px 0;
}

.thankyou-logo img {
  width: 20%;
}

.highlights img {
  width: 13%;
}

.drag-drop img {
  width: 40%;
  padding: 20px 0;
}

.drag-drop input {
  height: 310px;
  width: 40%;
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
