*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #fff;
}
p{
  color: #000000;
}
p.big-p{
  color: #234057;
  font-size: 28px !important;
}
b,th,td,strong,h1,h2,h3,h4,h5,h6,a,li{
  font-family: 'Inter';
}

.btn{
  border-radius: 1rem !important;
}

.sec-head{
  font-size: 3rem !important;
  font-weight: bold;
}
@media screen and (max-width:750px){
  .sec-head{
    font-size: 2rem !important;
  }
  
}

.hero{
  background-image: url(../images/freescan-omni/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 120px;
  padding: 60px 0;
  position: relative;
}
.call{
  display: flex;
  justify-content: right;
  gap: 10px;
}
.call .btn{
  padding: 0 !important;
  width: 60px !important;
  height: 60px !important;
  display: grid;
  place-content: center;
  border-radius: 50% !important;
}
.call-text h5{
  color: #fff !important;
  font-weight: 600;
}
.call-text p{
  color: #fff;
}
.call-text p span{
  color: #FF8D1E;
}
.hero-row{
  padding-bottom: 20px;
}
.hero-head{
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
}
.hero-head span{
  color: #FF8D1E;
}
.hero-left{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.hero-left ul{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero-left ul li{
  position: relative;
  margin-left: 40px;
}
.hero-left ul li p{
  margin-bottom: 0 !important;
  color:#fff;
}
.hero-left ul li::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  left: -20px;
  height: 8px;
  width: 8px;
  background-color: #fff;
  border-radius: 50%;
}
.hero-p{
  background-color: #FFF5EB;
  padding: 20px;
  border-radius: 16px;
}

.hero-right-img img{
  position: relative;
  transform:translateX(23%);
}
@media screen and (max-width:750px){
  .hero-right-img img{
    width: 100%;
    transform:translateX(0%);
  }
  .tab-row{
    flex-direction: column;
  }
}


.hero .mail{
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-top: 120px;
}
.hero .mail .btn{
  padding: 0 !important;
  width: 60px !important;
  height: 60px !important;
  display: grid;
  place-content: center;
  border-radius: 50% !important;
}
.mail-text h5{
  color: #fff !important;
  font-weight: 600;
}
.mail-text p{
  color: #fff;
}
.mail-text p span{
  color: #FF8D1E;
}

.right-image img{
    width: 100%;
}


.stick-cont {
  position: sticky;
  top: 120px;
  z-index: 900;
  background: #fff;
}
.nav-two {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-two-div {
  padding: 15px;
  position: sticky;
  top: 120px;
  z-index: 1000;
  display: flex;
  overflow-x: auto;
}
.nav-two a {
  color: #000000 !important;
  padding: 15px 40px !important;
  border-radius: 3rem;
  font-weight: 600;
  white-space: nowrap;
}
.nav-two a.active {
  background-color: #ff8d1e;
  color: #ffffff !important;
  box-shadow: 0px 3px 6px 0px #00000026, 0px 11px 11px 0px #00000021,
    0px 26px 15px 0px #00000014, 0px 46px 18px 0px #00000005,
    0px 72px 20px 0px #00000000;
}


/* =====Video Section======= */
.sub-video img{
  width: 100%;
}

.slider-container {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  position: relative;
  margin-top: 100px;
}

.slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide-item {
  flex: 0 0 auto;
  width: 320px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.slide-item img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.caption {
  padding: 10px;
  font-size: 14px;
}
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #FF8D1E;
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.scroll-btn.left {
  left: 0px;
}
.scroll-btn.right {
  right: 0px;
}

.main-video {
  position: relative;
}
.main-video img{
  width: 100%;
}
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #234057;
  border: none !important;
  outline: none !important;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;

}

/* Positioning */
.prev-btn {
  left: -20px;
}

.next-btn {
  right: -20px;
}
@media screen and (max-width:900px){
  .prev-btn {
    left: 0px;
  }
  
  .next-btn {
    right: 0px;
  }
  .sub-video{
    display:none !important;
  }
}



/* ----------- */

.inspect-div{
  padding:30px;
  background-color: #000000;
  border-radius: 16px;
}
.inspect-img{
  position: relative;
  margin: 20px 0;
  box-shadow: 2px 4px 11px 0px #0630B27D,
              10px 17px 20px 0px #0630B26E,
              22px 38px 27px 0px #0630B240,
              40px 68px 32px 0px #0630B212,
              62px 107px 35px 0px #0630B203;
              border-radius: 16px;
}
.inspect-img img{
  width: 100%;
}
.inspect-img p{
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 18px !important;
}

.image-div{
  background: url('../images/freescan-omni/imgg7.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 120px 20px;
  border-radius: 16px;
}
@media screen and (max-width:750px){
  .image-div{
    padding: 60px 10px;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#0303037c), url('../images/freescan-omni/imgg7.png');
  }
  
}
.image-div h2{
  color: #fff !important;
}
.image-div p{
  color: #fff !important;
} 

.mode-ul li {
  position: relative;
  margin-left: 20px;
}
.mode-ul li::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  left: -20px;
  height: 8px;
  width: 8px;
  background-color: #000;
  border-radius: 50%;
}

.app-box {
  box-shadow: -2px 6px 15px 0px #2340571a, -9px 26px 27px 0px #23405717,
    -21px 58px 37px 0px #2340570d, -38px 103px 44px 0px #23405703;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #33333340;
  margin-top: 20px;
}
.app-box img {
  width: 100px;
  margin-bottom: 20px;
}
.app-box h4 {
  margin-top: 10px;
  font-weight: 600;
}


.spec-table{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 16px;
    overflow: hidden;
    background-color: #fff;
}
.spec-table-inner th {
  width: 40%;
  font-weight: 600;
  padding: 12px 0;
  color: #000;
}

.spec-table-inner td {
  width: 60%;
  color: #555;
}
.spec-table-inner tr {
  height: 150px;            /* Set row height */
  vertical-align: middle !important;  /* Vertically center content */
}
.spec-table-inner tr {
  border-bottom: 1px solid #eee;
}

.spec-table-inner tr:last-child {
  border-bottom: none;
}

.spec-table strong {
  color: #000;
}

.spec-table .table-borderless tr th,
.spec-table .table-borderless tr td {
  border: none !important;
  vertical-align: middle;
  font-size: 16px !important;
  padding: 0 20px;
}
/* -----FAQ Section Style----- */

.faq{
  margin-top:100px;
}
.faq h3{
  color: #234057;
  font-size: 3rem;
  font-weight: bold;
}
.accordion {
  width: 100%;
}
.accordion-button {
  position: relative;
  border-radius: 20px !important;
  background: #fff !important;
  color: #000 !important;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
  font-size: 22px !important;
}
.accordion-button:focus{
  border: none;
  outline: none;
}
.accordion-button span{
  margin-left: 25px;
}
.accordion-item{
  width: 100% !important;
}
.accordion-button::after {
  content: "+";
  background-image: none !important;
  position: absolute;
  left: 0;
  font-size: 32px;
  margin-left: 5px;
  margin-top: -10px;
  color: #ff931e;
}

.accordion-button:not(.collapsed)::after {
  content: "-";
  background-image: none !important;
  position: absolute;
  left: 0;
  font-size: 32px;
  margin-left: 10px;
  margin-top:-8px;
  color: #ff931e;
}
.accordion-item:first-of-type{
  border-top-left-radius:20px !important;
  border-top-right-radius:20px !important;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}
.accordion-item:first-of-type .accordion-button{
  border-top-left-radius:20px !important;
  border-top-right-radius:20px !important;
}
.accordion-item {
  margin-top: 20px;
  border:none;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
  transition: border-left 0.3s ease;
}
.accordion-item:has(.accordion-collapse.show) {
  border-left: 10px solid #ff931e;
  border-radius:8px !important;
}
.accordion-body{
  padding: 20px 25px;
}
.accordion-body p{
  color: #000;
}
.accordion-body ul{
  margin-left: 40px;
}
.accordion-body ul li {
  list-style: disc;
}
.accordion-body a{
  color: #FF931E;
  font-weight: 600;
}


@media screen and (max-width:750px){
  .hero{
    margin-top: 0;
  }
  .hero-head{
    font-size: 2rem !important;
  }
  .call{
    justify-content: left;
  }
  .hero-right-img img{
    width: 100%;
  }
  .head-div{
    padding: 10px;
  }
  .head-div h3{
    font-size: 14px !important;
  }
  .main-div h2{
    font-size: 1.2rem !important;
  }
  .main-div2 h2{
    font-size: 1rem !important;
  }
  .main-div{
    padding: 30px 10px;
  }
  .main-div2{
    padding: 15px !important;
  }
  .main-btns div{
    gap: 10px;
  }
  p.big-p{
    font-size: 16px !important;
  }
  .nav-pills{
    padding: 5px;
  }
  .nav-link{
    font-size: 14px !important;
  }
  .stick-cont{
    top: 70px;
  }
  .text-card h4{
    font-size: 14px !important;
  }
  .main-div2-img .btn{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px !important;
    font-size: 8px !important;
  }
  .tab-left-col {
      position: sticky;
      top: 80px;
      z-index: 1;
    }

    .faq h3{
    font-size: 2rem !important;
  }
  .accordion-button{
    font-size: 16px !important;
  }
  .accordion-button span{
    display: inline-block;
    margin-left: 25px;
  }
  br
  {
    display: none;
  }
}