/*veera css*/

section#about {
    background-color: #212121;
    padding-bottom: 40px;
}

section#about p.about {
    font-size: 17px;
}


section#about ul {
    font-size: 13px;
}

section#about .number {
    text-align: center;
}

section#about .number h1 {
    font-size: 42px;
    color: #FF931E;
    font-weight: 400;
}

section#products {
    background-image: url(../images/home-scanner-bg-3.png);
    background-position: center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-color: #1A1A1A;
}

.product {
    border: 8px solid #828282;
    border-radius: 50%;
    background-color: white;
}

.pre-btn {
    background-color: #ff931e;
    color: #fff;
    border: 1px solid transparent;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 50px;
    font-size: 20px;
}

section#blog {
    background-image: url(../images/3d-scanner-bg-4.svg);
    background-position: center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    padding: 50px 0px;
}

.heading {
    margin-left: 20px;
}

.service_1 {
    border: 2px solid white;
    padding: 5px 11px;
    border-radius: 50%;
    color: white;
}

.service_2 {
    border: 2px solid white;
    padding: 1px 6px 1px 6px;
    border-radius: 50%;
    color: white;
}

.ser_2 {
    font-size: 16px;
}

section#support {
    background-image: url(../images/scanner-bg-5.png);
    background-position: center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

section#industry {
    background-image: url(../images/scanner-bg-6.png);
    background-position: center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.header_2 {
    background-color: #000000bf;
}

.product_1 {
    background-color: #000000b0;
}

.product_1 h4 {
    background-color: #000000a8;
    margin-bottom: 0px;
    padding-top: 5px;
}

.product_1 p {
    background-color: #000000a8;
    font-size: 21px;
    height: 115px;
}
/* section-2 */
.contact{
    background-color: #000000;
    text-align: center;
    padding-bottom: 36px;
    padding-top: 30px;
  }
  .contact h1{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 34.5px; /* 143.75% */
letter-spacing: 0.24px;
  }
  .contact h2{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 141.523%; /* 33.965px */
letter-spacing: 0.24px;
  }
  .contact span{
    color: #FF8A00;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 141.523%; /* 36.131px */
letter-spacing: 0.255px;
  }

  .offers{
    color: #1E1E1E;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30.5px; /* 152.5% */
letter-spacing: 0.2px;
  }

  .carousel-control-prev{
    background: transparent;
    border: none;
  }
.carousel-control-next{
    background: transparent;
    border: none;
}
.blog-h3 {
    color: #000;
font-family: Inter;
font-size: 16.37px !important;
font-style: normal;
font-weight: 700;
line-height: 168.023%; /* 25.826px */
letter-spacing: 0.307px;
}

.faq-p{
    color: #6F6F6F;
font-family: Fira Sans;
font-size: 16px;
font-style: normal;
font-weight: 700 !important;
line-height: 27px; /* 150% */
}
.blog-p{
    color: #6C6C6C;
font-family: Inter;
font-size: 14px !important;
font-style: normal;
font-weight: 400;
line-height: 168.023%; /* 20.087px */
letter-spacing: 0.239px;
}

.what-content {
    color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 141.523%; /* 28.305px */
letter-spacing: 0.2px;
}
/*.product-hover:hover>.product {*/
/*    border: 8px solid #ff931e;*/
/*    transition: 0.5s;*/
/*}*/

.product-hover:hover>img,
.ind-icon:hover {
    transform: scale(0.95);
    transition: 0.5s;
}

.ind-icon img {
    transition: 0.5s;
}

.number h1::after {
    content: "+";
}

@media(max-width:768px) {
    section#about .number {
        top: 0px;
        text-align: center;
    }
    section#about .number p {
        text-align: center;
    }
    img.product {
        width: 100%;
    }
    .contact span {
        font-size: 15px;
    }
    .ul-2{
        margin-top: -40px;
    }
    .main-heads{
        margin-top: -81px;
    }
    .choose-content img{
        object-fit: cover;
    }
    .main-heads1 , .main-heads2{
        margin-top: -41px;
    }
    .contact h1{
        font-size: 18px;
    }
    .contact h2{
        font-size: 16px;
    }
    .rs-usa-content h2{
        margin-top: 72px;
    }
    .what-content-1 img{
        margin-left: -10px;
    }
    .heading {
        margin-left: 0px;
    }
    p.count-title {
        font-size: 12px;
    }
}


/*slider-media-query*/

@media(min-width:769px) {
    .carousel-item::after {
        content: "";
        top: 60%;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
}

@media(max-width:1200px) and (min-width:500px) {
    .carousel-caption {
        padding-bottom: 0 !important;
        bottom: 5px !important;
    }
}

@media(max-width:600px) {
    .carousel-caption h2 {
        font-size: 20px;
    }
    .carousel-caption .pre-btn {
        padding: 5px !important;
        display: inline-block;
        font-size: 10px;
    }
    .carousel-item {
        height: 350px;
    }
    .carousel-item img {
        height: 350px;
    }
    .carousel-caption p {
        font-size: 10px;
    }
}
@media (width <= 1100px)
{
main {
    margin-top: 51px !important;
}
}