* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-color: #fff !important;
}
.btn{
    border-radius: 1rem !important;
}
b {
  font-family: "Inter", sans-serif !important;
}
.p{
    color: #000 !important;
    font-size: 22px !important;
}

.hero {
  background-image: url(../images/hybird-technology/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px;
  margin-top: 140px;
  border-radius: 20px;
  padding: 40px 20px;
}
.hero p{
    color: #fff !important;
}
.call {
  display: flex;
  justify-content: right;
  gap: 10px;
}

.call-icon {
  background-color: #FF8D1E;
  height: 60px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border-radius: 50%;
  color: #fff;
}

.call-text h5 {
  color: #fff !important;
  font-weight: 800;
}

.call-text p {
  color: #fff;
}

.call-text p span {
  color: #FF8D1E;
}

.hero h1 {
  color: #fff;
  font-weight: 600;
  font-size: 70px !important;
  margin-top: 30px;
}

.hero .text {
  font-size: 22px !important;
  color: #fff;
}

.card-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  min-width: 280px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.card-img {
  text-align: center;
  background: #fdf6f6;
  padding: 10px;
  border-radius: 10px;
  min-height: 220px;
}
.card-btn{
    width: 100%;
}
.card-box .btn{
    width: 100%;
    box-shadow:
  0px 3px 6px 0px #00000026,
  0px 11px 11px 0px #00000021,
  0px 26px 15px 0px #00000014,
  0px 46px 18px 0px #00000005,
  0px 72px 20px 0px #00000000;
}

.mail {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-top: 20px;
}

.mail-icon {
  background-color: #FF8D1E;
  height: 60px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border-radius: 50%;
  color: #fff;
}

.mail-text h5 {
  color: #fff !important;
  font-weight: 800;
}

.mail-text p {
  color: #fff;
}

.mail-text p span {
  color: #FF8D1E;
}
.sec-head{
    font-size: 54px !important;
    font-weight: bold;
}
.sec-head span{
    color: #FF8D1E;
}

.main-div{
    border: 1px solid #FF931E;
    background-color: #FFFAF3;
    padding: 30px;
    border-radius: 16px;
    margin-top: 20px;
}
.main-div h4{
    font-size: 25px !important;
    font-weight: bold;
}
.main-div img{
    width: 100%;
    margin-top: 20px;
}

.light-bg{
    background-color: #fdf6f6;
    padding: 30px 0;
}

.main-div2{
    border: 1px solid #FF931E;
    background-color: #FFFAF3;
    padding: 50px;
    border-radius: 16px;
    width: 90%;
    margin: 0 auto;
}
.main-div2 img{
    width: 100%;
    margin-top: 20px;
}
.main-div2 ul li{
    list-style-type: disc;
}
.main-div2 p{
    font-size: 18px !important;
}
.main-div2 .btn{
    box-shadow:
  0px 3px 6px 0px #00000026,
  0px 11px 11px 0px #00000021,
  0px 26px 15px 0px #00000014,
  0px 46px 18px 0px #00000005,
  0px 72px 20px 0px #00000000;

}
.why-box{
    background-color: #FFF8EE;
    border: 1px solid #FF931E40;
    padding: 15px;
    border-radius: 16px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.why-icon{
    background-color: #fff;
    padding:8px;
    border-radius: 16px;
}
.why-box h4{
    margin-bottom: 0 !important;
}


@media screen and (max-width:700px){
    br{
        display: none;
    }
    .hero{
        margin: 10px;
    }
    .hero h1{
        font-size: 30px !important;
    }
    .hero .text{
        font-size: 18px !important;
    }
    .call-text p{
        font-size: 15px !important;
    }
    .sec-head{
        font-size: 25px !important;
    }
    .p{
        font-size: 16px !important;
    }
    .main-div h4{
        font-size: 18px !important;
    }
    .main-div2{
        width: 100%;
        padding: 20px;
    }
    .why-box{
        width: 100%;
    }
    .why-box h4{
        font-size: 16px !important;
    }
}