*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #fff;
}
p{
  color: #000000;
}
b{
  font-family: 'Inter';
}
.btn{
  border-radius: 1rem !important;
}
.sec-head{
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.sec-head2{
  font-size: 3rem !important;
  font-weight: bold;
}
.main-head{
  font-size: 3rem !important;
  font-weight: bold;
  color: #234057;
}
html{
  scroll-padding-top: 140px;
}

.hero{
  background-color: #fff2e1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-top: 120px;
  padding: 60px 0;
}
.call{
  display: flex;
  justify-content: right;
  gap: 10px;
}
.call .btn{
  padding: 0 !important;
  width: 60px !important;
  height: 60px !important;
  display: grid;
  place-content: center;
  border-radius: 50% !important;
}
.call-text h5{
  color: #000000 !important;
  font-weight: 600;
}
.call-text p{
  color: #000000;
}
.call-text p span{
  color: #FF8D1E;
}
.hero-row{
  padding-bottom: 60px;
}
.hero-head{
  font-size: 4rem;
  margin-bottom: 15px;
  color: #FF8D1E;
  font-weight: bold;
}
.hero-left{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.logo-image{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}
.logo-image p{
  margin-bottom: 0;
  font-size: 22px !important;
  font-weight: 600;
}
.hero-left ul li{
  position: relative;
  margin-left: 40px;
}
.hero-left ul li::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  left: -20px;
  height: 8px;
  width: 8px;
  background-color: #FF8D1E;
  border-radius: 50%;
}
.hero-right{
  height: 100%;
  display: grid;
  place-content: end;
}


.mail{
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-top: 20px;
}
.mail .btn{
  padding: 0 !important;
  width: 60px !important;
  height: 60px !important;
  display: grid;
  place-content: center;
  border-radius: 50% !important;
}
.mail-text h5{
  color: #000000 !important;
  font-weight: 600;
}
.mail-text p{
  color: #000000;
}
.mail-text p span{
  color: #FF8D1E;
}



.what{
  margin-top: 60px;
}
.what-container{
  background: #F3F3F3;
  padding: 70px 40px;
  border-radius: 16px;
  position: relative;
}
.what-container::before{
  content: "";
  position: absolute;
  height: 20px;
  width: 400px;
  background-color: #FF8D1E;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  border-radius: 0 0 3rem 3rem;
}
.card{
  border: none !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}
.timeline {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  margin-left: 100px;
  padding-top: 0;
}

.step .timeline::before{
  content: "";
  width: 1px;
  height: 85%;
  background: #a3a3a3;
  position: absolute;
  left: -2px;
  top: 0%;
}
.step .event{
  margin-top: 50px;
}
@media (max-width: 767px) {
  .timeline {
      padding: 25px;
      margin-left: -16px;
  }
  .step .timeline::before {
      height: 83%;
      left: 0px;
      top: 3%;
  }

  .soft-col{
    min-height:auto;
  }
}

.timeline h1 {
  font-weight: 300;
  font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.step .timeline .event {
  padding-bottom: 35px;
  position: relative;
}

.step .timeline .event h3{
  font-size: 32px;
  color: #234057;
}

@media (max-width: 767px) {
  .why .timeline .event {
      padding-top: 0px;
  }
  .timeline .event img{
    width: 100%;
  }
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}



.timeline .event:after {
  border: 3px solid #ffffff;
  box-shadow: 0 0 0px 3px #FF8D1E;
  left: -60.8px;
  background: #FF8D1E;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  content: "";
  top: 0px;
}
.timeline .event:before {
    left:-150px;   
    content: attr(data-step);
    font-size: 1.3rem;
    font-weight: bold;
    color: #FF8D1E;
  }

@media (max-width: 767px) {
  .timeline .event h3{
    font-size: 18px;
    color: #234057;
  }
  .timeline .event:after {
      left: -31.8px;
  }
  .timeline .event::before {
      left: 0px;
  }
}

.rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid #FF8D1E;
}
.event-left ul {
  margin-top: 40px;
}
.event-left ul li{
  position: relative;
  margin-left: 20px;
}
.event-left ul li::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  left: -20px;
  height: 8px;
  width: 8px;
  background-color: #FF8D1E;
  border-radius: 50%;
}
.event-right{
  text-align: right;
}

.key{
  margin-top: 100px;
}
.key h2{
  font-size: 3rem !important;
  color:#234057;
  font-weight: bold;
}
.key-row{
  margin-top:40px;
}
.key-box{
  background-color: #FFFBF6;
  border: 1px solid #FF931E80;
  padding: 30px;
  border-radius: 16px;
  margin-top: 20px;
  min-height: 380px;
}
.key-head{
  display: flex;
  align-items: center;
  gap: 30px;
}
.key-head h3{
  color: #FF8D1E;
  font-weight: 600;
}
.key-head .key-icon{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  height: 70px;
  width: 70px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border-radius: 16px;
  -webkit-box-shadow: 11px 8px 33px -2px rgba(255,141,30,0.56); 
box-shadow: 11px 8px 33px -2px rgba(255,141,30,0.56);
}
.key-text{
  margin-top: 30px;
}

.soft-container{
  background-color: #FBFAFA;
  padding: 40px 30px;
  border: 1px solid #FF931E80;
  border-radius: 16px;
}
.software-lists{
  width: 80%;
  margin: 0 auto;
}
.software-list{
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  background: #FFFBF6;
  padding: 30px;
  border: 1px solid #FF931E80;
  border-radius: 16px;
}
.soft-icon{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  height: 70px;
  width: 70px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border-radius: 16px;
  -webkit-box-shadow: 11px 8px 33px -2px rgba(255,141,30,0.56); 
  box-shadow: 11px 8px 33px -2px rgba(255,141,30,0.56);
}
.soft-text h4{
  font-size: 20px !important;
}
.why{
  margin-top: 100px;
}
.why h2{
  font-size: 3rem !important;
  color:#234057;
  font-weight: bold;
}
.why h2 span{
  color: #FF8D1E;
}
.why-container{
  margin-top: 40px;
  background: #F3F3F3;
  border: 1px solid #DFDEDE;
  border-radius: 16px;
}
.why-left{
  height: 100%;
  display: grid;
  place-content: center;
}
.why .card{
  border: none !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  padding: 20px  0!important;
}

.why .timeline {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
}

@media (max-width: 767px) {
  .why .timeline {
      max-width: 98%;
      padding: 25px;
  }
  .soft-container{
    background-color: #FBFAFA;
    padding: 10px;
    border: 1px solid #FF931E80;
    border-radius: 16px;
  }
  .software-lists{
    width: 100%;
  }
  .soft-text h4{
    font-size: 14px !important;
  }
  .main-head{
    font-size: 2rem !important;
  }
}

.why .timeline h1 {
  font-weight: 300;
  font-size: 1.4em;
}

.why .timeline h2,
.why .timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.why .timeline .event {
  padding-bottom: 35px;
  position: relative;
}

.why .timeline .event h3{
  font-size: 22px;
  color: #FF8D1E;
}

@media (max-width: 767px) {
  .why .timeline .event {
      padding-top: 0px;
  }
  .step .timeline .event{
    padding-top: 35px;
  }
}

.why .timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.why .timeline .event:before,
.why .timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.why .timeline .event.events:before{
  content: "";
  width: 1px;
  height: 100%;
  background-color: #d3d2d2;
  left: -51px;
}



.why .timeline .event:after {
  border: 3px solid #ffffff;
  box-shadow: 0 0 0px 3px #FF8D1E;
  left: -60.8px;
  background: #FF8D1E;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  content: "";
  top: 0px;
}

@media (max-width: 767px) {
  .why .timeline .event:after {
      left: -31.8px;
  }
  .why .timeline .event.events:before{
    left: -23px;
  }
}

.why .rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid #FF8D1E;
}

.why .rtl .timeline .event::before {
  left: 0;
  right: -170px;
}

.rtl .timeline .event::after {
  left: 0;
  right: -55.8px;
}
@media screen and (max-width:770px){
  .hero{
    margin-top: 0;
    padding: 35px 0;
  }
  .hero-head{
    font-size: 2rem;
    margin-top: 30px;
  }
  .call{
    justify-content: start;
  }
  .hero-right-img img{
    width: 100%;
    margin-top: 30px;
  }
  .what-img img{
    width: 100%;
  }
  .how-container{
    padding: 0;
  }
  .hexagon-img img{
    width: 100%;
  }
  .how{
    padding: 20px;
  }
  .how-col {
    min-height: 255px !important;
    margin-top: 20px;
  }
  .how-img{
    min-height: auto !important;
  }
  .how-img img{
    width: 100%;
  }
  .soft-box{
    margin-top: 20px;
    min-height: auto;
  }
  .end-to-end .btns{
    gap: 15px;
  }
  .solution ul {
    padding: 30px 20px;
}
  .key-head h3{
    font-size: 1.5rem !important;
  }
  .key h2{
    font-size: 2rem !important;
  }
  .why h2{
    font-size: 2rem !important;
  }
  .what-container::before{
    width: 200px;
  }
  .what-container{
    padding: 60px 20px;
  }
  .soft-container{
    padding: 20px;
  }
  .softwares img{
    width: 100%;
  }
  .soft-left img{
    width: 100%;
  }
  .soft-right{
    margin-top:30px;
  }
  .soft-right img{
    width: 100%;
  }
  .why-left img{
    width: 100%;
  }
  .timeline .event:after {
    left: -35.8px;
    top: 35px;
  }
  /* .timeline .event.events:before {
    left: -25px;
    top: 40px;
  } */
  .sec-head{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .sec-head2{
    font-size: 2rem !important;
    font-weight: bold;
  }
  .br{
    display: none;
  }
}