*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
b{
  font-family: 'Inter' !important;
}
body{
  background-color: #f7f7f9;
}
.details-col p{
  color: #000 !important;
}
.btn{
  border-radius: 1rem !important;
}
.btnn{
  font-size: 20px !important;
}
.page-head{
  padding: 20px;
  background-color: #fff;
  border-radius: 16px;
  margin-bottom: 20px;
}
.product-main-img{
  background-color: #fff;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  border-radius: 16px;
}
#mainImage{
  height: 600px;
  width: 100%;
  object-fit: contain;
}
.sub-imgs{
  margin-top: 24px;
}
.sub-imgs .sub-img{
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  display: grid;
  place-content: center;
  padding: 20px;
  margin-bottom: 20px;
}
.sub-img img{
  height: 200px;
  width: 100%;
}
.details-col{
  width:100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 16px;
}
.details-col .row{
  margin-top: 15px !important;
}
.details-col .row h4{
  font-size: 20px !important;
}
.contacts-list{
  background-color: #F7F7F9;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-footer{
  justify-content: center !important;
}
.overview-head{
  padding: 15px;
}
.product-overview{
  padding: 20px;
  background-color: #fff;
  margin: 10px 0;
}
.product-overview p{
  color: #000;
}
.modal{
  padding-right: 0 !important;
}
.modal-header,.modal-footer{
  border: none !important;
}
form{
  padding: 20px;
}
.input-field input{
  padding: 10px;
  outline: none !important;
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (max-width:900px){
  .sub-img img{
    height: 100px;
  }
  #mainImage{
    width: 100%;
  }
}