*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-padding-top: 300px;
}
body{
  background-color: #F1F1F1;
  
}
p{
  color: #000000;
  font-weight: normal;
}
b{
  font-family: 'Inter', sans-serif;
}
.btn{
  border-radius: 1rem !important;
}
.sec-head{
  font-size: 60px;
  color: #192936;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero{
  background: url(../images/sample-data-download/gallery-bg.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top;
  margin-top: 120px;
  padding: 90px 0;
}
.hero-head h1{
  font-size: 60px;
  margin-bottom: 15px;
  color: #ffffff;
  font-weight: bold;
}
.hero-head h1 span{
  color: #FF931E;
}
.hero h4{
  color: #ffffff;
  font-weight: normal;
  font-size: 20px !important;
}
.hero-left ul{
  margin: 30px 0;
  margin-left: 40px;
}
.hero-left ul li{
  position: relative;
}
.hero-left ul li p{
  color: #fff;
}
.hero-left ul li::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #FF931E;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: -20px;
}
.hero-left p{
  font-size: 16px !important;
  margin-bottom:10px !important;
}
.sample-data-gallery{
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
}
.sample-data-gallery .nav-pills{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    margin-bottom: 30px;
}
.nav-pills .nav-link{
    background-color: #ffffff;
    outline: none;
    color: #FF931E;
    padding:10px 50px;
    border: 1px solid #FF931E;
    border-radius: 2rem;
    white-space: nowrap; /* 👈 Prevent text from wrapping */
}
.nav-pills .nav-link.active{
    background-color: #FF931E;
    color: #ffffff;
}

.gallery-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    min-height: 330px;

}
.gallery-card .btn{
    width: 100%;
    box-shadow:
  0px 3px 6px 0px #00000026,
  0px 11px 11px 0px #00000021,
  0px 26px 15px 0px #00000014,
  0px 46px 18px 0px #00000005,
  0px 72px 20px 0px #00000000;


}
.btn-close{
    background-color: transparent !important;
    color: #000;
    border: none;
    padding: 0;
}

.input-icon {
  position: relative;
}

.input-icon i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #999;
}

.custom-input {
  padding-left: 40px;
  border-radius: 8px;
  border: 1px solid #FF931E;
  height: 45px;
}
.modal .fa-envelope{
    background-color: transparent !important;
    padding: 0 !important;
    font-size: 18px !important;
    border-radius: none !important;
}
.modal .btn{
    width: 100%;
}


@media screen and (max-width:750px){
    .hero{
    margin-top:0;
  }
  .hero-head h1{
    font-size: 40px;
  }
  .sec-head{
    font-size: 34px !important;
  }
  .gallery-card{
    width: 100%;
  }
}