*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-padding-top: 140px;
}
body{
  background-color: #f3f3f3;
  
}
p{
  color: #000000;
}
.p-big{
  font-size: 24px !important;
  color: #234057;
}
b{
  font-family: 'Inter';
}

.btn{
  border-radius: 1rem !important;
}
.hero{
  background: url(../images/used-scanners/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-top: 120px;
  padding: 60px 0;
}
.hero-head h1{
  font-size: 4rem !important;
  color: #fff;
  font-weight: bold;
}
.hero-text span{
  color: #FF8D1E;
}
.hero p{
  color: #fff;
}
.hero-row{
  margin-bottom:80px;
}
.call{
  display: flex;
  justify-content: right;
  gap: 10px;
}
.call .btn{
  padding: 0 !important;
  width: 60px !important;
  height: 60px !important;
  display: grid;
  place-content: center;
  border-radius: 50% !important;
}
.call-text h5{
  color: #ffffff !important;
  font-weight: 600;
}
.call-text p{
  color: #ffffff;
}
.call-text p span{
  color: #FF8D1E;
}
.hero-head{
  font-size: 4rem;
  margin-bottom: 15px;
  color: #FF8D1E;
  font-weight: bold;
}
.hero h4{
  color: #ffffff;
  font-weight: normal;
  font-size: 20px !important;
}
.hero-left ul{
  margin: 30px 0;
  margin-left: 40px;
}
.hero-left ul li{
  position: relative;
}
.hero-left ul li p{
  color: #fff;
}
.hero-left ul li::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #FF931E;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: -20px;
}
.hero-left p{
  font-size: 16px !important;
  margin-bottom:10px !important;
}

.mail{
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-top: 20px;
}
.mail .btn{
  padding: 0 !important;
  width: 60px !important;
  height: 60px !important;
  display: grid;
  place-content: center;
  border-radius: 50% !important;
}
.mail-text h5{
  color: #FF8D1E !important;
  font-weight: 600;
}
.mail-text p{
  color: #ffffff;
}
.mail-text p span{
  color: #FF8D1E;
}

/* ======Filter Section====== */
.filter-side{
  position: sticky;
  top: 50px;
}
.filter-head{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  padding: 20px 0;
  border:1px solid #00000026;
  border-radius: 16px;
}
.filter-head h3{
  margin-bottom: 0 !important;
  color: #234057;
  font-size: 30px !important;
  font-weight: bold;
}
.filter-options{
  margin-top: 30px;
  background-color: #fff;
  padding: 20px;
  border:1px solid #00000026;
  border-radius: 16px;
}
.filter-options h4{
  margin-bottom: 0 !important;
  color: #234057;
  font-size: 24px !important;
  font-weight: bold;
}
.brand-icons .brand-box{
  border: 1px solid #00000026;
  text-align: center;
  min-height: 70px;
  display: grid;
  place-content: center;
  width: 100%;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.brand-icons img{
  padding: 10px;
}
.models{
  margin-top: 50px;
}
.models .model{
  padding: 10px;
  border: 1px solid #00000026;
  margin-top: 20px;
  width: 100% !important;
  cursor: pointer;
}
.model p{
  margin-bottom: 0 !important;
  text-align: center;
}
.range-container {
  margin: 40px auto;
  font-family: sans-serif;
}
.slider-track {
  position: relative;
  height: 5px;
  background: #ccc;
  margin: 30px 0;
  border-radius: 5px;
}

.slider-track::before {
  content: '';
  position: absolute;
  height: 5px;
  background: orange;
  border-radius: 5px;
  left: 0;
  right: 0;
}

input[type=range] {
  position: absolute;
  width: 100%;
  pointer-events: none;
  appearance: none;
  background: none;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: orange;
  border: 3px solid #fff !important;
  cursor: pointer;
  border: none;
  margin-top: -6px;
  box-shadow: 0 0 5px #000;
}

.range-values {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #555;
}
.product-card{
  padding: 20px;
  border: 1px solid #00000026;
  background-color: #fff;
  border-radius: 16px;
  margin-bottom: 30px;
}
.product-img img{
  width: 100%;
  min-height: 350px;
  max-height: 350px;
  object-fit: cover;
  border-radius: 16px;
}
.product-card h3{
  margin-top: 10px;
}
.brand-name{
  font-size:14px !important;
  margin-bottom: 5px !important;
}
.pro-price{
  color: #03C400;
  font-size: 30px !important;
  font-weight: bold;
}
.product-card .btn{
  width: 100%;
}
.filter-options .active {
  border: 2px solid orange;
}


@media screen and (max-width:750px){
  .hero{
    margin-top: 0;
  }
  .call{
    justify-content: start;
  }
  .hero-head h1{
    font-size: 30px !important;
  }
  .filter-options h4{
    font-size: 18px !important;
  }
  .product-img img{
    min-height: 200px;
    max-height: 200px;
  }
  .product-card h3{
    font-size: 18px !important;
  }
  .pro-price{
    font-size: 20px !important;
  }
}
