/*default css*/

/*start css*/

/*font*/

@font-face {
    font-family: 'firasan-extrathin';
    src: url('../fonts/fira-sans/FiraSans-ExtraLight.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/fira-sans/FiraSans-ExtraLight.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans/FiraSans-ExtraLight.otf') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans/FiraSans-ExtraLight.otf') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/fira-sans/FiraSans-ExtraLight.otf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans/FiraSans-ExtraLight.otf') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'firasan-normal';
    src: url('../fonts/fira-sans/FiraSans-Medium.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/fira-sans/FiraSans-Medium.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans/FiraSans-Medium.otf') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans/FiraSans-Medium.otf') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/fira-sans/FiraSans-Medium.otf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans/FiraSans-Medium.otf') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'firasan-bold';
    src: url('../fonts/fira-sans/FiraSans-Bold.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/fira-sans/FiraSans-Bold.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans/FiraSans-Bold.otf') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans/FiraSans-Bold.otf') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/fira-sans/FiraSans-Bold.otf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans/FiraSans-Bold.otf') format('svg');
    /* Legacy iOS */
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "firasan-normal", "sans-serif";
}


header.main-header {
    background-color: #000;
}
@media(min-width: 992px) {
    a.nav-link {
        font-size: 12px;
    }
}
.dropdown-submenu>.dropdown-menu {
    top: 10%;
    left: 100%;
    margin-top: -6px;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fd9a0500;
    border: 1px solid #fdfdfd00;
    padding: 0px 5px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


a {
    color: #0a0a0a;
    text-decoration: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #222222
}

li.nav-item a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

li.nav-item a:hover {
    color: rgb(255, 255, 255);
    background-color: #fd9a05;
    border-radius: 2px;
    text-transform: uppercase;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dd-button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 30px 10px 10px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
}

.dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.dd-button:hover {
    background-color: #eeeeee;
}

.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 136%;
    border: 1px solid #110c0c;
    border-radius: 4px;
    z-index: 1;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgb(0 0 0);
    background-color: #e58a1b;
    list-style-type: none;
}

.dd-input+.dd-menu {
    display: none;
}

.dd-input:checked+.dd-menu {
    display: block;
}

.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dd-menu li:hover {
    background-color: #f6f6f6;
}

.dd-menu li a {
    display: block;
    margin: -19px -20px;
    padding: 10px 20px;
}

.dd-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
}

.navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
}

.dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    font-size: 12px;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #000;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

/* rotate caret on hover */
.dropdown-menu>li>a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    font-size: 12px;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
