/*section-bg*/
section#scanner-service-intro{
	background-image: url(../images/scanner-service-intro.jpg);
    background-position:center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
section#scanner-black-bg{
    background-image: url(../images/3d-scanning-tech.svg);
    background-position:center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
section#pan-india{
    background-image: url(../images/pan-india.jpg);
    background-position:center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
section#pan-india-2{
    background-image: url(../images/pan-india-2.jpg);
    background-position:center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
.scanning-service .content{
        padding: 15px;
    background-color: #000;
}
.compare-btn {
    background-color: rgb(255 255 255 / 63%);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0;
    width: 100%;
}
.product img,.pan-india-1 .img {
    background-color: rgba(0,0,0,0.4);
    
}
.pan-india-1 .img img,.pan-india-2 .img img{
    transition:0.5s;
}
span.text {
    border: 1px solid #fff;
    padding: 3px 9px;
    border-radius: 50%;
}
.pan-india-1 .content{
    padding:10px 20px;
    height:145px;
}
 .pan-india-1:hover > .content,.pan-india-2:hover > .content{
   background-color: #ff931e;
   transition:0.5s;
}
/*section3*/
#section3{
background-color:#ff931e;	
}
#section3 .text{
	font-size: 24px;
    font-weight: 300;
}
#section3 li{
	margin-bottom:15px;
}
#section4{
background:black;	
}
#section4 h4{
font-weight:300;	
}
#section4 .mb-5{
background-color:#ff931e;
}
/*pan-india*/


#section5 .quote .content {
    background-color: #000;
    padding: 5px;
}
#section5 .quote h6 {
    font-size: 23px;
}
#section5 .quote p {
    font-size: 20px;
    font-weight:300;
    }
#section5 .pre-btn {
    background-color: #ff931e;
    color: #fff;
    border: 1px solid transparent;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 23px;
    font-size: 20px;
}
#section5 h4{
font-weight:300;	
}
#section5 .sub-content{
	background-color: #00000078;
}
#section5 .sub-content p .small{
	font-weight:300;
}
.color{
background-color:#ff931e;
padding-bottom:20px;	
}