/*default css*/


/*start css*/


/*font*/

@font-face {
    font-family: 'firasan-extrathin';
    src: url('../fonts/fira-sans/FiraSans-ExtraLight.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/fira-sans/FiraSans-ExtraLight.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans/FiraSans-ExtraLight.otf') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans/FiraSans-ExtraLight.otf') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/fira-sans/FiraSans-ExtraLight.otf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans/FiraSans-ExtraLight.otf') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'firasan-normal';
    src: url('../fonts/fira-sans/FiraSans-Medium.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/fira-sans/FiraSans-Medium.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans/FiraSans-Medium.otf') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans/FiraSans-Medium.otf') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/fira-sans/FiraSans-Medium.otf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans/FiraSans-Medium.otf') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'firasan-bold';
    src: url('../fonts/fira-sans/FiraSans-Bold.otf');
    /* IE9 Compat Modes */
    src: url('../fonts/fira-sans/FiraSans-Bold.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans/FiraSans-Bold.otf') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans/FiraSans-Bold.otf') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/fira-sans/FiraSans-Bold.otf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans/FiraSans-Bold.otf') format('svg');
    /* Legacy iOS */
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "firasan-normal", "sans-serif";
}

section p {
    font-size: 20px;
    font-family: "firasan-extrathin", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: "firasan-bold", "sans-serif";
}

a:hover {
    text-decoration: none;
}

.section-padding {
    padding: 30px 0px;
}



/*separator*/

hr.separator {
    margin: 0;
    height: 10px;
    background: #ff931e;
}


/*button*/

.pre-btn {
    background-color: #ff931e;
    color: #fff;
    border: 1px solid transparent;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 23px;
    font-size: 18px;
}

.pre-btn-alt {
    background-color: #fff;
    color: #ff931e;
    border: 1px solid transparent;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 23px;
    font-size: 18px;
}

.pre-btn-alt:hover {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    transition: 0.5s;
}

.pre-btn:hover {
    background-color: #fff;
    border: 1px solid #fff;
    color: #ff931e;
}

.pre-bg {
    background-color: #ff931e;
}

.pre-color {
    color: #ff931e;
}

.pre-bg-grey {
    background-color: #1a1a1a;
}

.pre-bg-black {
    background-color: #000;
}

.pre-btn-2 {
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid transparent;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 23px;
    font-size: 18px;
}

.pre-btn-2:hover {
    background-color: transparent;
    border: 1px solid #000;
    color: #fff;
}


/*elements*/

.title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

section#scanner-3d-intro .heading,
section#right-3d-scanner .heading,
#scanner3section#scanner-products .heading,
section#scanner-service-intro .heading,
.sub-content.heading,
#scanner-landing .heading,
section#optical-3d-intro .heading,
section#whats-next .heading,
section#long-range-intro .heading,
section#multifunctional-intro .heading,
section#handheld-Industrial-intro .heading,
section#arm-based-intro .heading {
    padding: 31px;
    background-color: rgba(0, 0, 0, 0.4);
}


/*header*/

header.main-header {
    background-color: #000;
}

li.nav-item a {
    color: #fff;
    text-transform: uppercase;
}


/*coming soon*/

section#coming-soon-bg {
    background-image: url(../images/coming-soon-bg.svg);
    background-position: top center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

@media(min-width:769px) {
    h1.coming-soon-heading {
        font-size: 4.5rem;
        font-weight: 400;
    }
    h4.coming-soon-heading {
        font-size: 2.5rem;
        font-weight: 400;
    }
    h5.coming-soon-heading {
        font-size: 1.5rem;
        font-weight: 400;
    }
    #coming-soon-bg img.logo-img {
        width: 290px;
    }
}


/*footer*/

footer.main-footer {
    padding: 20px 0px;
    background-color: #000;
}


/*blog*/

.blog .body {
    background: rgba(255, 255, 255, 0.38);
    padding: 10px;
}

.blog-btn a {
    background: rgba(255, 255, 255, 0.38);
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
}

.blog p {
    font-size: 11px;
    line-height: 1;
}


/*faq*/

.faq h5.pre-color::before {
    content: "-";
    margin-right: 20px;
    font-size: 28px;
}

.faq h5.pre-color.collapsed::before {
    content: "+";
    margin-right: 20px;
    font-size: 28px;
}

.left-border {
    padding-left: 30px;
    border-left: 2px solid #fff;
    margin-left: 5px;
}


/*effects*/

img.zoom:hover,
.quote:hover>img.zoom {
    transform: scale(0.9);
    transition: 0.5s;
}

img.zoom {
    transition: 0.5s;
}

.zoom-out:hover>.product img {
    transform: scaleX(1.1);
    transition: 0.5s;
}

.zoom-out:hover>.product .content {
    background-color: #ff931e !important;
    transition: 0.5s;
}

.product .content,
.product img {
    transition: 0.5s;
}


/*media query*/

@media(max-width: 992px) {
    a.navbrand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        font-size: 1.25rem;
        white-space: nowrap;
    }
}

@media(max-width:1200px) {
    .product h5 {
        font-size: 13px !important;
    }
}

@media(max-width:1024px) {
    .pre-btn {
        font-size: 13px !important;
    }
}

@media(min-width: 992px) {
    a.nav-link {
        font-size: 12px;
    }
}

.owl-nav button:focus {
    outline: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    font-size: 30px !important;
}

.owl-carousel .owl-item img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.owl-nav button {
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
    width: 20px;
    height: 40px;
}


/*media query-owl*/

@media(min-width:426px) {
    .owl-nav button.owl-prev {
        left: -25px;
    }
    .owl-nav button.owl-next {
        right: -25px;
    }
}

@media(max-width:425px) {
    .owl-nav button.owl-prev {
        left: -13px;
    }
    .owl-nav button.owl-next {
        right: -13px;
    }
    h1 {
        font-size: 25px;
    }
}

@media(max-width:1199px) and (min-width:991px) {
    .quote .content {
        padding: 10px !important;
    }
    .quote p {
        height: 85px !important;
    }
}
.digi-new-tab-style{
    display:flex;
}
.digi-new-tab-style ul{
    width:inherit;
    margin:auto;
}

/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/* new header css start */

body {
    margin: 0;
}

.buy::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .0em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: relative;
    top: -2px;
}

.buy {
    color: #212529;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}

.buy:hover {
    color: #212529;
}

.showing,
.scanner {
    border-radius: 8px;
}

.mail {
    color: #212529;
    font-family: 'Fira Sans', sans-serif;
}

.mail i {
    font-size: 9px;
    background-color: #ff8d1e;
    border-radius: 50%;
padding: 5px 4px 5px 6px;
    margin-right: 10px;
    position: relative;
    top: -2px;
}

.showing a:hover {
    color: #212529;
}

.sales {
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.sales:hover {
    color: #212529;
}

.sales::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .150em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.upload {
    border-radius: 5px;
    border: none;
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    background-color: #ff8d1e;
    font-size: 13px;
    font-weight: bold;
    margin-top: 0px;
    padding: 5px;
    margin-left: 10px;
}

.upload:hover {
    background-color: #212529;
    color: #fff;
}

.btn:hover, .btn:focus, .btn.active {
    background: #000 !important;
}

.social-icon {
    list-style-type: none;
    padding: 0;
    padding-top: 4px;
    display: flex;
    margin-bottom: 0;
}

.paddo {
    padding: 0;
}

.social-icon li {
    display: inline-block;
    margin-right: 15px;
}

@media only screen and (max-width:992px) {
    .social-icon li {
        display: inline-block;
        margin-right: 10px;
    }
}

.ico1 {
    color: #007bff;
}

.ico2 {
    color: #20c997;
}

.ico2:hover {
    color: #20c997;
}

.ico3 {
    color: #6610f2;
}

.ico3:hover {
    color: #6610f2;
}

.ico4 {
    color: #007bff;
}

.ico5 {
    color: #dc3545;
    ;
}

.ico5:hover {
    color: #dc3545;
    ;
}

.ico5 i {
    margin-right: 0;
}

@media only screen and (max-width:792px) and (min-width:765px) {
    .sales {
        margin-top: 14px;
    }
}

.list {
    list-style-type: none;
}

.all {
    display: flex;
    padding-top: 10px;
    
}

.all1 {
    display: flex;
    padding: 7px;
    padding-bottom:0;
}

.all2 {
    display: flex;
    padding: 7px;
}

.first {
    margin-right: 15px;
}

.sales,
.mail:hover {
    text-decoration: none;
}

.cad {
    list-style-type: none;
    padding: 0px;
    margin-left: 20px;
    display: flex;
}

.btn{
    padding: 10px 40px !important;
}
@media only screen and (max-width:1600px) and (min-width:1200px) {
    .all1 {
        max-width: 54.33333%;
    }
    .all {
        max-width: 20%;
    }
}

@media only screen and (max-width:1200px) and (min-width:1050px) {
    .all {
        max-width: 22%;
    }
    .upload {
        font-size: 12px;
    }
}

@media only screen and (max-width:1049px) and (min-width:992px) {
    .all {
        max-width: 21%;
    }
    .all1 {
        max-width: 56.333333%;
    }
    .upload {
        font-size: 12px;
    }
}

@media only screen and (max-width:767px) {
    .all1 {
        display: flex;
        padding: 7px;
        margin-right: 40px;
        justify-content:center;
    }
    .top-first-mdadjust{
        justify-content:center;
    }
    .margining {
        margin-left: 28px;
    }
    .cad{
        margin-bottom:0px;
    }
}

@media only screen and (max-width:992px) {
    .all2 {
        justify-content: center;
    }
}

.logo {
    color: orange;
}

.main-part {
    background-color: #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
.cad{
    margin-bottom:10px;
}

@media only screen and (max-width:1600px) and (min-width:1200px) {
    .ol-list {
        margin-left: 100px;
    }
}
@media screen and (max-width:998px){
    .navbar-dark .navbar-nav .nav-link{
        font-size:11px;
    }
}
@media screen and (max-width:992px) {
    .upload{
        font-size:10px;
    }
    .head-arrangement{
    margin-bottom:34px;
}
.navbar-dark .navbar-nav .nav-link {
    padding-top: 15px;
}
}
@media screen and (max-width:767px){
    .head-arrangement{
    margin-bottom:95px;
    }
    .navbar-dark .navbar-nav .nav-link{
        font-size:12px;
    }
    .cad{
        margin-bottom:0;
    }
}
@media screen and (max-width:576px) {
    .head-arrangement {
    margin-bottom: 80px;
}
    .upload {
        font-size: 12px;
    }
    .all2 {
        padding-top: 0;
    }
    .sales {
        font-size: 12px;
    }
    .upload{
        font-size:8px;
    }
    .all1{
        padding-bottom:0;
    }
    .margining {
    margin-left: -32px;
}
.zero{
    text-align:center;
}
.social-icon{
    padding-top:8px;
}
}
@media only screen and (max-width:999px) and (min-width:767px) {
    .navbar-dark .navbar-nav .nav-link{
        font-size:11px !important;
    }
}
/*.faqsectionforscroll{
    height:345px;
    overflow-y: scroll;
    margin-left: 1px;
}*/
.visible-scrollbar,.faqsectionforscroll , .invisible-scrollbar, .mostly-customized-scrollbar {
    display: block;
    overflow: auto;
    height: 350px;
  }
  
  .invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Demonstrate a "mostly customized" scrollbar
   * (won't be visible otherwise if width/height is specified) */
   .faqsectionforscroll::-webkit-scrollbar {
    width: 15px;
    height: 8px;
    background-color: #aaa; /* or add it to the track */
    border-radius: 10px;

  }
  
  /* Add a thumb */
  .faqsectionforscroll::-webkit-scrollbar-thumb {
      background: #fff;
      border-radius: 10px;

  }

    .calendly-badge-widget {
    position: fixed;
    right: 30px;
    bottom: 142px !important;
    }
    
    /* new header css end*/